[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
pyserial = "*"
pyserial-asyncio = "*"
"flake8" = "*"
aioserial = "*"

[dev-packages]

[requires]
python_version = "3.7"
